#
# This file is a git repository meta file.
# It contains file- and folder-names of files that are not commited to the repository.
# See below for details (lines starting with a hash (#) are documentation).
#

# Tethys' folder structure and project organization
# =================================================
/*.lnk

# This file is created by the installer and contains a link to the configuration file.
# It's created from the template inst/tpl_cfglink.php.
/config_link.php

# IDE's Project-Folders
# =====================

# Eclipse:
/.settings/
/.buildpath
/.project

# PhpStorm:
/.idea/
