#
# Tethys' folder structure and project organization
#
/*.lnk

# See Tethys Wiki for instructions on how to install the two repo's and sync them:
# http://... (TODO)
/__get_files.cmd
/__get_files_exclude.txt

#
# IDE's Project-Folders
#

# Eclipse:
/.settings/
/.buildpath
/.project

# PhpStorm:
/.idea/
