
/*========================== Forms ======================*/

form div.form_field label{
	display:inline-block;
	vertical-align:top;
	width:200px;
	text-align:right;
	margin-right:5px;
}

form div.form_field label + input,
form div.form_field label + select,
form div.form_field label + textarea{
	width:400px;
	vertical-align:bottom;
}

form div.buttons{
	margin-left:205px;
}

/*========================== Links ======================*/

a.abutton{
	border:1px solid black;
	border-radius: 4px;
	padding:0 3px;
	text-decoration: none;
}
